---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
}

const { 
	title = "CoolNameMaker",
	description = "Discover perfect names with our free name generators. Create unique names for characters, businesses, usernames, games, and more. Easy-to-use tools for creative naming."
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<Header />
		<div class="min-h-[calc(100vh-400px)]">
			<slot />
		</div>
		<Footer />
	</body>
</html>